.env
.envrc
.env.yaml
.streamlit/
.streamlit/secrets.toml
preprocess.py
pred.py
test.py
registry.py
uploaded_image.jpg
app.py:Zone.Identifier
Dockerfile:Zone.Identifier
restore_environment.txt

cloud-and-api/.env
cloud-and-api/.envrc
cloud-and-api/.env.yaml
cloud-and-api/__pycache__
cloud-and-api/.streamlit/
cloud-and-api/.streamlit/secrets.toml
cloud-and-api/preprocess.py
cloud-and-api/pred.py
cloud-and-api/test.py
cloud-and-api/registry.py
cloud-and-api/uploaded_image.jpg
cloud-and-api/app.py:Zone.Identifier
cloud-and-api/Dockerfile:Zone.Identifier
cloud-and-api/restore_environment.txt

__pycache__/
__pycache__

auslagerung
/auslagerung
auslagerung/

.python-version
/.python-version
.python-version/
